{% load static %}

<nav class="bg-yellow-500    border-gray-200 py-2.5 dark:bg-yellow-500">
    <div class="flex flex-wrap justify-between max-w-screen-xl px-4 mx-auto">
        <a href="#" class="flex items-center">
            <img class="p-0 ml-3 col" width="64" height="64" src="{% static 'images/tent-logo.png' %}"  alt="external-tent-camping"/>
            <span class="ml-5 text-xl font-semibold whitespace-nowrap dark:text-white">SuperCamper</span>
        </a>
        <div class="flex lg:order-2">
            <div class="hidden mt-2 mr-4 sm:inline-block">
                <span></span>
            </div>

           
        </div>
        <div class="items-center justify-between w-full lg:flex lg:w-auto lg:order-1" id="mobile-menu-2">
            <ul class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0">
                
                {% if user.is_authenticated %}
                    
                
                <li>
                    <a href="#"
                    class="block py-2 pl-8 pr-4 text-gray-900 border-b border-gray-100 hover:bg-gray-200 lg:hover:bg-transparent lg:border-0 lg:hover:text-purple-50 lg:p-0 dark:text-gray-900 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700">Add Plot</a>
                </li>
                <li>
                    <a href="#"
                    class="block py-2 pl-8 pr-4 text-gray-900 border-b border-gray-100 hover:bg-gray-200 lg:hover:bg-transparent lg:border-0 lg:hover:text-purple-50 lg:p-0 dark:text-gray-900 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700">Profile</a>
                </li>
                <li>
                    <a href="#"
                    class="block py-2 pl-8 pr-4 text-gray-900 border-b border-gray-100 hover:bg-gray-200 lg:hover:bg-transparent lg:border-0 lg:hover:text-purple-50 lg:p-0 dark:text-gray-900 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700">Logout</a>
                </li>
                {% else %}
                <li>
                    <a href="#"
                    class="block py-2 pl-8 pr-4 text-gray-900 border-b border-gray-100 hover:bg-gray-200 lg:hover:bg-transparent lg:border-0 lg:hover:text-purple-50 lg:p-0 dark:text-gray-900 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700">Login</a>
                </li>
                <li>
                    <a href="#"
                    class="block py-2 pl-8 pr-4 text-gray-900 border-b border-gray-100 hover:bg-gray-200 lg:hover:bg-transparent lg:border-0 lg:hover:text-purple-50 lg:p-0 dark:text-gray-900 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700">Register</a>
                </li>
                {% endif %}
                
                {% if user.is_superuser %}
                    
                <li>
                    <a href="#"
                    class="block py-2 pl-8 pr-4 text-gray-900 border-b border-gray-100 hover:bg-gray-200 lg:hover:bg-transparent lg:border-0 lg:hover:text-purple-50 lg:p-0 dark:text-gray-900 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700">Reports</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>


