{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% tailwind_css %}
    <title>Euro Camper</title>
</head>


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Super Camper</title>
  <script src="https://unpkg.com/htmx.org@1.9.10"></script>
  <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
 

</head>

<body>
  {% include 'a_plot/includes/navbar.html' %}

  

  {% block content %} 
  
  
  {% endblock content %}


  </body>

</html>
